server = "localhost"
ssl = false
nickname = "pjodd"
username = "pjodd"
realname = "Pjodd"
channels = ["#test"]

#[githook]
#host = ""
#port = 32032
#[[githook.target]]
#type = "github"
#path = "/path_part_of_payload_url"
#secret = "shared_secret"
#channel = "#test"
