[irc]

[[irc.server]]
server = "localhost:6667"
ssl = false
password = ""
nick = "pjodd"
ident = "pjodd"
realname = "Pjodd"
channels = ["#test"]

#[githook]
#listen = ":32032"
#[[githook.target]]
#path = "/path_part_of_payload_url"
#secret = "shared_secret"
#server = "localhost:6667"
#channel = "#test"
